#title {
  text-align: center;
  color: fuchsia;
  text-shadow: 3px 1px pink;
  font-size: 50px;
  margin-top: -8px;
  border: dotted pink;
}

#playlistTitle {
  text-align: center;
  font-size: 30px;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDiH-cxniDN8oDfBqWk1hDKVKIHNMx2-4N-L0fZ8aUPKcp1g8b9A");
}

.topBar {
  display: flex;
  justify-content: space-around;
}

#songDay {
  width: 25%;
  height:38px;
  background-color: #ffe6e6;
}

#search {
  padding: 5px 5px;
  font-size: 20px;
}

#searchButton {
  margin-bottom: -13px;
}

.mainBody {
  display: flex;
  justify-content: space-between;
}

#playlist {
  width:20%;
  height: 90px;
  background-color:#ffe6e6 ;
  overflow-y: auto;
}
#secondBody {
  width:70%;
}
/*#weather {*/
/*  width: 10%;*/
/*  height: 100px;*/
/*  background-color:#ffe6e6;*/
/*}*/
/*#favorites{*/
/*  width: 9% ;*/
/*  height: 90px;*/
/*  background-color:#ffe6e6 ;*/
/*}*/




#vid {
  
  width: 100px;
  border: 5px dotted white ;
  padding: 200px;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  
}

.sugSong {
  display: flex;
  justify-content: space-around;
}

.song{
   width: 50px;
  height: 50px;
  border: 5px dotted white ;
  padding: 50px;
  margin: 20px;
}

#searchedResults {
  display: flex;
  justify-content: center;
}